*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #26262d;
    padding: 15px 55px;
    display: flex;
    justify-content: space-between;
}

a{
    display: flex;
    align-items: center;
}

#left{
    display: flex;
    align-items: center;
}

#logoheader{
    height: 25px;
}

#topbrowse{
    margin-left: 55px;
    cursor:pointer;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

#searchinput{
    transition: 0.5s ease;
    color: #26262d;
    width: 350px;
    text-align: center;
    padding: 7px 0px;
    font-size: 16px;
    border-radius: 50px;
    border-style: none;

    /*Per me e vendos iconen ne input*/
    background-image: url("Icons/search.svg");
    background-repeat: no-repeat;
    background-position: 95% center;
    background-size: 17px;
}

#searchinput:hover{
    opacity: 80%;
    transition: 0.5s ease;
}

#searchinput:focus{
    opacity: 80%;
    transition: 0.5s ease;
    outline: none;
}

#butonat{
    display: flex;
    align-items: center;
}

#reg{
    width: 140px;
    height: 32px;
    padding: 0px 40px;
    margin-right: 30px;
    font-size: 16px;
    border: none;
    background-color: white;
    color: #26262d;
    border-radius: 3px;
    transition: 0.5s ease;
}

#log{
    width: 140px;
    height: 32px;
    padding: 0px 40px;
    font-size: 16px;
    border: none;
    color: white;
    background-color: transparent;
}

#reg:hover, #log:hover, .watchnow:hover{
    opacity: 80%;
    transition: 0.5s ease;
    cursor:pointer;
}

.sliderdiv{
    width: 100vw;
    height: 27vw;
}

.slidermain{
    height: 100%;
    position: relative;
}

.slider{
    height: 100%;
    width: 400%;
    display: flex;
    transition: all 0.7s ease;
    overflow: hidden;
}

.slider div{
    position: relative;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.sliderfoto{
    position: absolute;
    width: 100%;
}

.watchnow{
    position: absolute;
    width: 200px;
    height: 32px;
    padding: 0px 40px;
    font-size: 16px;
    border: none;
    background-color: white;
    color: #26262d;
    border-radius: 3px;
    transition: 0.5s ease;

    top: 95%;
    left: 50%;
    transform: translate(-50%, -95%);
}
.moviedesc{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 5%;
    color: white;
}

.moviegenre{
    font-size: 16px;
    font-weight: normal;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

    top: 50%;
    transform: translate(0%, -50%);
  }

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}